message-box {
    flex-grow: 100;
    display: flex;
    flex-direction: column;
    height: 100%;
}

message-input {
    width: 100%;
    height: 40px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

*[type="button"] {
    position: relative;
    height: 40px;
    width: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
    background-color: transparent;
    transition: 150ms ease-in-out;
}

*[type="button"]:hover {
    transform: scale(120%);
}

message-input-file { background-image: url(./images/icon-file.svg); }
message-input-emoji { background-image: url(./images/icon-emoji.svg);}
message-input-send { background-image: url(./images/icon-send.svg);}
message-input-text {
    height: 100%;
    flex-grow: 100;
    padding-top: 5px;
    padding-bottom: 5px;
}
message-input-text > input[type=text] {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
    box-shadow: 0 0 5px 0px #33333324 inset;
    font-size: inherit;
    font-family: inherit;
    overflow-y: scroll;
    border-radius: 5px;
    border-radius: 50px;
    padding-left: 10px;
}

message-container {
    position: relative;
    box-sizing: content-box;
    padding-bottom: 20px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    align-items: center;
    justify-content: end;
    gap: 15px;
    height: calc(100vh - 40px);
    flex-basis: 1;
}

message-sent {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    flex-grow: 1;
    white-space: nowrap;
    flex-basis: 1;
}

message-received {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex-grow: 1;
    white-space: nowrap;
    flex-basis: 1;
}

message-sent > message { background-color: #ddd; color: #333; border-bottom-right-radius: 0;}
message-received > message {background-color: darkslateblue; color: #eee; border-bottom-left-radius: 0;}

message {
    position: relative;
    box-sizing: content-box;
    display: block;
    width: fit-content;
    height: fit-content;
    min-height: 20px;
    padding: 10px;
    border-radius: 20px;
    max-width: 50%;
}

message-received > message > message-about {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: nowrap;
    position: absolute;
    height: 15px;
    font-size: 12px;
    top: 0;
    left: 5px;
    color: #777;
    transition: 200ms ease-in-out;
    z-index: 1;
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

message-received > message:hover > message-about {
    transform: translateY(-15px);
    opacity: 1;
}

message-sent > message > message-about {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: nowrap;
    position: absolute;
    height: 15px;
    font-size: 12px;
    top: 0;
    right: 5px;
    color: #777;
    transition: 200ms ease-in-out;
    z-index: 1;
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

message-sent > message:hover > message-about {
    transform: translateY(-15px);
    opacity: 1;
}

message-author {
    display: block;
}

message-date {
    display: block;
    white-space: nowrap;
}